.brown {
  background: $brown;

      .box {
        margin: 0;

        @media (min-width:768px) {
          display: block;
        }
        @media (min-width:992px) {
          display: flex;
        }

        &__col {
          flex-direction: row;
          width: auto;
          align-items: center;
          font-size: calc($base_font_size / 2);
          line-height: $base_line_height - 10px;

          &:first-child {
            margin-bottom: 80px;

            @media (min-width:992px) {
              margin-bottom: 0;
            }
          }

          @media (min-width:992px) {
            &:first-child:after {
              content: '';
              display: inline-block;
              width: 1px;
              height: 168px;
              background: #000000;
              margin: 0 40px 0 0;
            }

            @media (min-width:1200px) {
              margin: 0 60px 0 0;
            }
          }

              .card {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                @media (min-width:768px) {
                width: calc(50% - 35px);
                text-align: center;
                }
        
                    &__visual {
                      margin-bottom: 20px;

                      img {
                        height: 36px;
                      }
                      
                          a {
                            transition: all 0.5s;
        
                                &:hover {
                                  transform: scale(1.3);
                                }
                          }
                    }

                    &--star {
                      height: auto;
                      margin-bottom: 15px;
                    }
              }
        }

        &__title {
          font-size: $base_font_size;
          line-height: calc(50 / 35);
          margin: 0 10px;

          @media (min-width:768px) {
            text-align: center;
            font-size: $base_font_size + 7px;
            margin: 0 25px;
          }
          @media (min-width:992px) {
            text-align: left;
            font-size: $base_font_size + 15px;
            margin: 0 40px;
          }
          @media (min-width:1200px) {
            margin: 0 60px;
          }
        }
      }
}